<%= render 'navbar' %>
<% provide(:title, @taxon.name) %>
<%= render "light_section", taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <%= render 'main_categories', products: @products %>
    </div>
  </div>   
</section>
<%= render 'brand_logo_slide' %>