<div class="main-wrapper">
  <%= render 'navbar' %>
  <% provide(:title, @product.name) %>
  <%= render 'light_section', product_name: @product.name %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'main_product', product: @product %>
      <%= render 'related_products', related_products: @related_products %>
    </div>
  </section>
</div>